.siu{
    display: grid;
    height: 100%;
    grid-template-columns: 4fr;
	grid-template-rows: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-prod{
    font-size: 20px;
    margin: 15px 0;
}
.quan{
    margin-bottom: 10px;
    width: 30px;
}
.details{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.details-image{
    flex: 1.7;
    min-width: 280px;
}
.img{
    flex: 1;
    max-height: 500px;
    max-width: 300px;
}

.details-info{
    flex: 1.4;
    margin-left: 20px;
    margin-right: 20px;
}
.details-action{
    box-shadow: -5px 5px 5px rgb(201, 192, 192);
    min-width: 250px;
    flex: 1.2;
}
.a7{
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn{
    background-color: rgb(226, 193, 5);
    color: black;
    border-radius: 3px;
    display: block;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 40px;
    width: 130px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}
.btn:active{
    background-color: darkolivegreen;
}